body {
  background-image: url(../images/background.jpg);
}
div {
  display: flex;
  justify-content: center;
}
.mario {
  width: 200px;
  height: 200px;
  background-image: url(../images/mario.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  animation: mario 4s infinite;
  transition-delay: 1s;
  animation-timing-function: linear;
}
.luigi {
  width: 200px;
  height: 200px;
  background-image: url(../images/green.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  animation: luigi 4s infinite;
  animation-timing-function: linear;
}
@keyframes mario {
  0% {
    top: 300px;
    right: 0px;
  }
  50% {
    top: 300px;
    right: 300px;
  }
  100% {
    top: 300px;
    right: 800px;
  }
}
@keyframes luigi {
  0% {
    top: 440px;
    left: 0px;
  }
  50% {
    top: 440px;
    left: 300px;
  }
  100% {
    top: 440px;
    left: 800px;
  }
}
